@model MrSparklyMVC.Models.PurchaseOrderLine

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PurchaseOrderLine</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.purchaseOrderLinesID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.purchaseOrderLinesID)
            @Html.ValidationMessageFor(model => model.purchaseOrderLinesID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.purchaseOrderID, "PurchaseOrder")
        </div>
        <div class="editor-field">
            @Html.DropDownList("purchaseOrderID", String.Empty)
            @Html.ValidationMessageFor(model => model.purchaseOrderID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rawMaterialsID, "RawMaterial")
        </div>
        <div class="editor-field">
            @Html.DropDownList("rawMaterialsID", String.Empty)
            @Html.ValidationMessageFor(model => model.rawMaterialsID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.purchaseOrderItemQty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.purchaseOrderItemQty)
            @Html.ValidationMessageFor(model => model.purchaseOrderItemQty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.purchaseOrderItemPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.purchaseOrderItemPrice)
            @Html.ValidationMessageFor(model => model.purchaseOrderItemPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.purchaseOrderLineSubtotal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.purchaseOrderLineSubtotal)
            @Html.ValidationMessageFor(model => model.purchaseOrderLineSubtotal)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
