@model IEnumerable<MrSparklyMVC.Models.Product>

@{
    ViewBag.Title = "Products Index";
}
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#helpModal').modal();
    });
</script>

<h2>Products</h2>

<div class="help">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#helpModal" data-remote="~/Help/HtmlPage1.html">Need Help?</button>
</div>

<p>
    @Html.ActionLink("Add New Product", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productBrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productCostPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productRetailPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productQty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productBrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productCostPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productRetailPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productQty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productID }) |
            @Html.ActionLink("Details", "Details", new { id=item.productID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productID })
        </td>
    </tr>
}

</table>

<div class="help">
    <!-- Modal -->
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help - Products</h4>
                </div>
                <div class="modal-body">
                    <h3>Info</h3>
                    <p>The products page shows a list of products currently stored in the system, along with some basic information.</p>
                    <h3>Adding and Editing Products</h3>
                    <p>To add a new product to the system, click the "Add New Product" link above the table, or to edit an exisiting product, click the "Edit" link beside the product you wish to edit.</p>
                    <h3>Viewing Product Details</h3>
                    <p>To see further details about a product, click the "Details" link beside the corresponding product.</p>
                    <h3>Deleting a Product</h3>
                    <p>To delete a product from the system, click the "Delete" link associated with the product you wish to remove.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
