@model IEnumerable<MrSparklyMVC.Models.Retailer>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.retailerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suburbID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.retailerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suburbID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Retailers", new { id=item.retailerID }, null)
            @Html.ActionLink("Details", "Details", "Retailers", new { id=item.retailerID }, null)
        </td>
    </tr>
}

</table>
