<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mr Sparkly Web App</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                   <!-- <p class="site-title">@Html.ActionLink("Mr Sparkly", "Index", "Home")</p> -->
                    <canvas id="titleCanvas" width="200" height="50">

                    </canvas>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Sales Orders", "Index", "SalesOrders")</li>
                            <li>@Html.ActionLink("Purchase Orders", "Index", "PurchaseOrders")</li>
                            <li>@Html.ActionLink("Retailers", "Index", "Retailers")</li>
                            <li>@Html.ActionLink("Suppliers", "Index", "Suppliers")</li>
                            <li>@Html.ActionLink("Products", "Index", "Product")</li>
                            <li>@Html.ActionLink("Raw Materials", "Index", "RawMaterials")</li>
                            <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mr. Sparkly</p>
                </div>
            </div>
        </footer>

                
        @RenderSection("scripts", required: false)

        <script>
            var canvas = document.getElementById("titleCanvas");
            var ctx = canvas.getContext("2d");
            var x = 5;

            function drawLine() {
                requestAnimationFrame(drawLine);

                if (x < 150) {
                    
                    ctx.strokeStyle = "#FF0000";
                    ctx.moveTo(x, 42);
                    x = x + 2;
                    ctx.lineTo(x, 42);
                    ctx.stroke();
                }
            }
            drawLine();
            drawText();

            function drawText() {
                ctx.font = "2.3em Rockwell"
                var txt = "Mr Sparkly";
                ctx.fillText(txt, 5, 40);
            }

            

        </script>
    </body>
</html>
