@model IEnumerable<MrSparklyMVC.Models.PurchaseOrderLine>
           @{
               decimal orderTotal = ViewBag.orderTotal;
           }

<div id="content">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RawMaterial.rawMaterialsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchaseOrderItemQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchaseOrderItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchaseOrderLineSubtotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RawMaterial.rawMaterialsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchaseOrderItemQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchaseOrderItemPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchaseOrderLineSubtotal)
        </td>
        <td>
            @Ajax.ActionLink("Edit", "Edit", "PurchaseOrderLines", new { id = item.purchaseOrderLinesID }, new AjaxOptions { UpdateTargetId = "content", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }) |
            @Html.ActionLink("Delete", "Delete", "PurchaseOrderLines", new { id = item.purchaseOrderLinesID }, null)
        </td>
    </tr>
}
    <tr>
        <td>
            <h3>Order Total</h3>
        </td>
        <td><h3></h3></td>
        <td></td>
        <td>
            <h3 id="total">$@String.Format("{0:n2}", orderTotal)</h3>
        </td>
    </tr>

</table>
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
