@model IEnumerable<MrSparklyMVC.Models.SalesOrderLine>
           @{
               var orderID = ViewBag.orderID;
               decimal orderTotal = ViewBag.orderTotal;
           }
<div id="content">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.productBrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderItemQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderLinesSubtotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.productBrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderItemQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderItemPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderLinesSubtotal)
        </td>
        <td>
            @Ajax.ActionLink("Edit", "Edit", "SalesOrderLines", new { id = item.salesOrderLinesID }, new AjaxOptions { UpdateTargetId = "content", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }) |
            @Html.ActionLink("Delete", "Delete", "SalesOrderLines", new { id = item.salesOrderLinesID }, null)
        </td>
    </tr>
}
    <tr>
        <td>
            <h3>Order Total</h3>
        </td>
        <td><h3></h3></td>
        <td></td>
        <td>
            <h3 id="total">$@String.Format("{0:n2}", orderTotal)</h3>
        </td>
    </tr>

</table>
    </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
