@model IEnumerable<MrSparklyMVC.Models.SalesOrderLine>
<div id="content">
<p>
    @Html.ActionLink("Add an Item", "Create", "SalesOrderLines")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderLinesID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.productBrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderItemQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderLinesSubtotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderLinesID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.productBrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderItemQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderItemPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderLinesSubtotal)
        </td>
        <td>
            @Ajax.ActionLink("Edit", "EditLine", "SalesOrderLines", new { id = item.salesOrderLinesID }, new AjaxOptions { UpdateTargetId = "content", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }) |
            @Html.ActionLink("Delete", "Delete", "SalesOrderLines", new { id = item.salesOrderLinesID }, null)
        </td>
    </tr>
}

</table>
    </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
