@model MrSparklyMVC.Models.SalesOrderLine

@{
    ViewBag.Title = "Edit";
}

<h3>Edit Item</h3>

@using (Html.BeginForm("Edit", "SalesOrderLines"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SalesOrderLine</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.salesOrderLinesID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salesOrderLinesID)
            @Html.ValidationMessageFor(model => model.salesOrderLinesID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.salesOrderID, "SalesOrder")
        </div>
        <div class="editor-field">
            @Html.DropDownList("salesOrderID", String.Empty)
            @Html.ValidationMessageFor(model => model.salesOrderID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.productID, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("productID", String.Empty)
            @Html.ValidationMessageFor(model => model.productID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.salesOrderItemQty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salesOrderItemQty)
            @Html.ValidationMessageFor(model => model.salesOrderItemQty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.salesOrderItemPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salesOrderItemPrice)
            @Html.ValidationMessageFor(model => model.salesOrderItemPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.salesOrderLinesSubtotal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salesOrderLinesSubtotal)
            @Html.ValidationMessageFor(model => model.salesOrderLinesSubtotal)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Order Details", "Details", "SalesOrders", new { id = Model.salesOrderID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
