@model IEnumerable<MrSparklyMVC.Models.PurchaseOrder>

@{
    ViewBag.Title = "Purchase Orders Index";
}

<h2>Purchase Orders</h2>

<p>
    @Html.ActionLink("Create New Order", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.supplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchaseOrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchaseOrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.supplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchaseOrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchaseOrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deliveryAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.purchaseOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.purchaseOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.purchaseOrderID })
        </td>
    </tr>
}

</table>
