@model MrSparklyMVC.Models.SalesOrder

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#helpModal').modal();
    });
</script>

<h2>Create</h2>

<div class="help">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#helpModal" data-remote="~/Help/HtmlPage1.html">Need Help?</button>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SalesOrder</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.retailerID, "Retailer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("retailerID", String.Empty)
            @Html.ValidationMessageFor(model => model.retailerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.salesOrderNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salesOrderNo)
            @Html.ValidationMessageFor(model => model.salesOrderNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.salesOrderDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salesOrderDate)
            @Html.ValidationMessageFor(model => model.salesOrderDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="help">
    <!-- Modal -->
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help - Creating an Order</h4>
                </div>
                <div class="modal-body">
                    <h3>Creating a New Order</h3>
                    <p>To create a new Sales Order, select a retailer from the drop down list, then enter the order number, along with the date(format: DD/MM/YYYY, and optionally the time as HH:MM), and then Click the "Create" button at the end of the form.</p>
                    <p>To cancel creating a new order and return to the sales orders index page, click the "Back To List" link at the bottom of the page.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
