@model MrSparklyMVC.Models.SalesOrder

@{
    ViewBag.Title = "Order Details";
    IEnumerable<MrSparklyMVC.Models.SalesOrderLine> salesOrderLines = Model.SalesOrderLines;
    ViewBag.SorderID = Model.salesOrderID;
}

<h2>Order Details</h2>

<fieldset>
    <legend>SalesOrder</legend>

    <div class="display-label">
        <h3>@Html.DisplayNameFor(model => model.Retailer.retailerName)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Retailer.retailerName)
    </div>

    <div class="display-label">
        <h3>@Html.DisplayNameFor(model => model.salesOrderNo)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.salesOrderNo)
    </div>

    <div class="display-label">
        <h3>@Html.DisplayNameFor(model => model.salesOrderDate)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.salesOrderDate)
    </div>
</fieldset>
<h2>Order Items</h2> 
<p>
    @Ajax.ActionLink("Add an Item", "Create", "SalesOrderLines", new { id = Model.salesOrderID }, new AjaxOptions { UpdateTargetId = "orderLines", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
</p>
        <div id="orderLines">   
        @{Html.RenderPartial("_SalesOrderLines", salesOrderLines);}
        </div>
<p>
    @Html.ActionLink("Edit Order Details", "Edit", new { id=Model.salesOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
