@using PagedList.Mvc;
@model IEnumerable<MrSparklyMVC.Models.SalesOrder>
           <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Sales Orders Index";
    var pList = (PagedList.IPagedList<MrSparklyMVC.Models.SalesOrder>)Model;
}

<h2>Sales Orders</h2>

<p>
    @Html.ActionLink("Create New Order", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor((model => model.Retailer.retailerName))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in pList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Retailer.retailerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.salesOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.salesOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.salesOrderID })
        </td>
    </tr>
}
</table>
<br />
Page @(pList.PageCount < pList.PageNumber ? 0 : pList.PageNumber) of @pList.PageCount
@Html.PagedListPager(pList, page => Url.Action("Index", new { page}))
