@model IEnumerable<MrSparklyMVC.Models.SalesOrder>

@{
    ViewBag.Title = "Sales Orders Index";
}

<h2>Sales Orders</h2>

<p>
    @Html.ActionLink("Create New Order", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Retailer.retailerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Retailer.retailerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.salesOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.salesOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.salesOrderID })
        </td>
    </tr>
}

</table>
