@model MrSparklyMVC.Models.Employee

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#helpModal').modal();
    });
</script>

<h2>Create</h2>

<div class="help">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#helpModal" data-remote="~/Help/HtmlPage1.html">Need Help?</button>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeeFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeFirstName)
            @Html.ValidationMessageFor(model => model.employeeFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeeLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeLastName)
            @Html.ValidationMessageFor(model => model.employeeLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeeStreet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeStreet)
            @Html.ValidationMessageFor(model => model.employeeStreet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeePhone)
            @Html.ValidationMessageFor(model => model.employeePhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeeMob)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeMob)
            @Html.ValidationMessageFor(model => model.employeeMob)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeeFax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeFax)
            @Html.ValidationMessageFor(model => model.employeeFax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeeEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeEmail)
            @Html.ValidationMessageFor(model => model.employeeEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeeDepartment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeDepartment)
            @Html.ValidationMessageFor(model => model.employeeDepartment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.suburbID, "Suburb")
        </div>
        <div class="editor-field">
            @Html.DropDownList("suburbID", String.Empty)
            @Html.ValidationMessageFor(model => model.suburbID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="help">
    <!-- Modal -->
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help - Adding an Employee</h4>
                </div>
                <div class="modal-body">
                    <h3>Adding a New Employee</h3>
                    <p>To add a new employee, enter the employees name in the form provided, along with the rest of the employees details into the corresponding sections of the form, and click the "Create" button at the end of the form.</p>
                    <p>To cancel adding a new employee and return to the employee index page, click the "Back To List" link at the bottom of the page.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
