@model MrSparklyMVC.Models.Supplier

@{
    ViewBag.Title = "Details";
}

<h2>Supplier Details</h2>

<fieldset>
    <legend>Supplier</legend>

    <div class="display-label">
       <h3>  @Html.DisplayNameFor(model => model.supplierName)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplierName)
    </div>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.contactName)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactName)
    </div>

    <div class="display-label">
        <h3> @Html.DisplayNameFor(model => model.supplierStreet)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplierStreet)
    </div>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.supplierPhone)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplierPhone)
    </div>

    <div class="display-label">
       <h3>  @Html.DisplayNameFor(model => model.supplierMobile)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplierMobile)
    </div>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.supplierFax)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplierFax)
    </div>

    <div class="display-label">
        <h3> @Html.DisplayNameFor(model => model.supplierEmail)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplierEmail)
    </div>

    <div class="display-label">
        <h3> @Html.DisplayNameFor(model => model.Suburb.suburb1)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suburb.suburb1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.supplierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
