@model MrSparklyMVC.Models.RawMaterial

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#helpModal').modal();
    });
</script>

<h2>Create</h2>

<div class="help">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#helpModal" data-remote="~/Help/HtmlPage1.html">Need Help?</button>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RawMaterial</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.rawMaterialsName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rawMaterialsName)
            @Html.ValidationMessageFor(model => model.rawMaterialsName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rawMaterialsPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rawMaterialsPrice)
            @Html.ValidationMessageFor(model => model.rawMaterialsPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rawMaterialsQty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rawMaterialsQty)
            @Html.ValidationMessageFor(model => model.rawMaterialsQty)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="help">
    <!-- Modal -->
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help - Adding a Raw Material</h4>
                </div>
                <div class="modal-body">
                    <h3>Adding a New Raw Material</h3>
                    <p>To add a new raw material, enter the material name in the form provided, along with the rest of the raw material details into the corresponding sections of the form, and click the "Create" button at the end of the form.</p>
                    <p>To cancel adding a new raw material and return to the raw materials index page, click the "Back To List" link at the bottom of the page.</p>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
