@model MrSparklyMVC.Models.RawMaterial

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RawMaterial</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rawMaterialsID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rawMaterialsID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rawMaterialsName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rawMaterialsName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rawMaterialsPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rawMaterialsPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rawMaterialsQty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rawMaterialsQty)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
