@model IEnumerable<MrSparklyMVC.Models.RawMaterial>

@{
    ViewBag.Title = "Raw Materials Index";
}
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#helpModal').modal();
    });
</script>

<h2>Raw Materials</h2>

<div class="help">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#helpModal" data-remote="~/Help/HtmlPage1.html">Need Help?</button>
</div>

<p>
    @Html.ActionLink("Add New Raw Material", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rawMaterialsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rawMaterialsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rawMaterialsPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rawMaterialsQty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rawMaterialsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rawMaterialsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rawMaterialsPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rawMaterialsQty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rawMaterialsID }) |
            @Html.ActionLink("Details", "Details", new { id = item.rawMaterialsID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.rawMaterialsID })
        </td>
    </tr>
}

</table>

<div class="help">
    <!-- Modal -->
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help - Raw Materials</h4>
                </div>
                <div class="modal-body">
                    <h3>Info</h3>
                    <p>The raw materials page shows a list of raw materials currently stored in the system, along with some basic information.</p>
                    <h3>Adding and Editing Raw Materials</h3>
                    <p>To add a new raw material to the system, click the "Add New Raw Material" link above the table, or to edit an exisiting raw material, click the "Edit" link beside the material you wish to edit.</p>
                    <h3>Viewing Raw Material Details</h3>
                    <p>To see further details about a raw material, click the "Details" link beside the corresponding material.</p>
                    <h3>Deleting a Raw Material</h3>
                    <p>To delete a raw material from the system, click the "Delete" link associated with the material you wish to remove.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>