@model IEnumerable<MrSparklyMVC.Models.RawMaterial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rawMaterialsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rawMaterialsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rawMaterialsPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rawMaterialsQty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rawMaterialsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rawMaterialsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rawMaterialsPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rawMaterialsQty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
