@model MrSparklyMVC.Models.Retailer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Retailer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Employee.employeeFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee.employeeFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.retailerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.retailerContactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerContactName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.retailerStreet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerStreet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.retailerPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.retailerMob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerMob)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.retailerFax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerFax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.retailerEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Suburb.suburb1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suburb.suburb1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
