@model MrSparklyMVC.Models.Retailer

@{
    ViewBag.Title = "Details";
}

<h2>Retailer Details</h2>

<fieldset>
    <legend>Retailer</legend>

    <div class="display-label">
       <h3>@Html.DisplayNameFor(model => model.Employee.employeeFirstName)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee.employeeFirstName)
    </div>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.retailerName)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerName)
    </div>

    <div class="display-label">
        <h3>@Html.DisplayNameFor(model => model.retailerContactName)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerContactName)
    </div>

    <div class="display-label">
        <h3> @Html.DisplayNameFor(model => model.retailerStreet)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerStreet)
    </div>

    <div class="display-label">
        <h3> @Html.DisplayNameFor(model => model.retailerPhone)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerPhone)
    </div>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.retailerMob)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerMob)
    </div>

    <div class="display-label">
        <h3> @Html.DisplayNameFor(model => model.retailerFax)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerFax)
    </div>

    <div class="display-label">
        <h3> @Html.DisplayNameFor(model => model.retailerEmail)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.retailerEmail)
    </div>

    <div class="display-label">
        <h3> @Html.DisplayNameFor(model => model.Suburb.suburb1)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suburb.suburb1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.retailerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
