@model IEnumerable<MrSparklyMVC.Models.Retailer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.employeeFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerMob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suburb.suburb1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.employeeFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerMob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerFax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suburb.suburb1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.retailerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.retailerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.retailerID })
        </td>
    </tr>
}

</table>
