@model IEnumerable<MrSparklyMVC.Models.Retailer>

@{
    ViewBag.Title = "Retailer Index";
}
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#helpModal').modal();
    });
</script>

<h2>Retailers</h2>

<div class="help">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#helpModal" data-remote="~/Help/HtmlPage1.html">Need Help?</button>
</div>
<p>
    @Html.ActionLink("Add New Retailer", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.retailerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suburb.suburb1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.retailerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suburb.suburb1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.retailerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.retailerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.retailerID })
        </td>
    </tr>
}

</table>

<div class="help">
    <!-- Modal -->
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help - Retailers</h4>
                </div>
                <div class="modal-body">
                    <h3>Info</h3>
                    <p>The Retailers page shows a list of retailers currently stored in the system, along with some basic information.</p>
                    <h3>Adding and Editing Retailers</h3>
                    <p>To add a new Retailer to the system, click the "Add New Retailer" link above the table, or to edit an exisiting retailer, click the "Edit" link beside the retailer you wish to edit.</p>
                    <h3>Viewing Retailer Details</h3>
                    <p>To see further details about a retailer, click the "Details" link beside the corresponding retailer.</p>
                    <h3>Deleting a Retailer</h3>
                    <p>To delete a retailer from the system, click the "Delete" link associated with the retailer you wish to remove.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
